@model webapp.Util.Dto.Views.LoginData
<html>
<head>
    <title>App -Login</title>
    <link rel="stylesheet" type="text/css" href="/dist/@Model.AssetsVersion/login.css" />
</head>
<body>
    <header class="toolbar">
        <nav class="toolbar__navigation">
            <div class="toolbar__logo">
                <a class="active" aria-current="page" href="/">THE LOGO</a>
            </div>
        </nav>
    </header>
    <div class="log-form">
        <h2>Login to your account</h2>
        <form asp-action="Login" method="post">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</body>
</html>